
@{
    ViewData["Title"] = "Личный кабинет";
}

<div class="row">
    <div id="AddPostDiv" class="col-md-6">
        <form id="AddPost" asp-action="AddPost" asp-controller="Account" method="post" data-ajax-success="ClearForm" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#AllPosts">
            <input name="Title" placeholder="Название" class="form-control FieldsForm" autocomplete="off" />
            <input name="Text" placeholder="Текст" class="form-control FieldsForm" autocomplete="off" />
            <br />
            <input id="SubmitButton" type="submit" value="Опубликовать" class="btn btn-secondary" />
        </form>
    </div>
    <br />
    <div class=" col-md-6 ">
        <br />
        <input id="deletePostsButton" type="button" class="btn btn-danger " value="Удалить выбранные посты" />
        <br />
        <br />
        <div class="bg-secondary">
            <div id="AllPosts">

            </div>
        </div>
    </div>

</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    $("#AllPosts").load("Account/GetPostsCurrentUser");

    function ClearForm() {
        $(".FieldsForm").val("");
    }

    function SendIdsPostForDelete() {
        var arrayPostsForDelete = $(".deleteMe");

        var jsonListIdForDelete = [];

        for (var i in arrayPostsForDelete) {
            if (arrayPostsForDelete[i].id == undefined) {
                break;
            }
            jsonListIdForDelete.push(arrayPostsForDelete[i].id.replace("post", ""));
        }


        $.ajax({
            url: "/Account/DeletePosts",
            type: "post",
            data: { "data": jsonListIdForDelete },
            success: function (data) {
                if (data) {
                    $("#AllPosts").load("Account/GetPostsCurrentUser");
                }
            }
        });
    }

    $("#deletePostsButton").click(SendIdsPostForDelete);
</script>