@model IEnumerable<string>
@{
    ViewData["Title"] = "Главная";
}

<div class="container center-block ">
    <div id="AllPosts" class="center-block ">
        ЗАГРУЗКА
    </div>
</div>


<script type="text/javascript">
    $("#AllPosts").load("/Home/GetPosts");
</script>

