@model IEnumerable<string>
@{
    ViewData["Title"] = "Главная";
}

<div class="  container center-block " >
    <div id="AllPosts" class="center-block  container ">
        ЗАГРУЗКА
    </div>
</div>

<script src="/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    console.log("go!!!!!");
    $("#AllPosts").load("/Home/GetPosts");
    console.log("ok!!! go!!!!!");
</script>

